<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorListarCenso</servlet-name>
        <servlet-class>Controlador.ControladorListarCenso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLogin</servlet-name>
        <servlet-class>Controlador.ControladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dispacher</servlet-name>
        <servlet-class>Controlador.Dispacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAltaVotantes</servlet-name>
        <servlet-class>Controlador.ControladorAltaVotantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorElectos</servlet-name>
        <servlet-class>Controlador.ControladorElectos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEscrutinio</servlet-name>
        <servlet-class>Controlador.ControladorEscrutinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorResultadoVotaciones</servlet-name>
        <servlet-class>Controlador.ControladorResultadoVotaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBajaVotantes</servlet-name>
        <servlet-class>Controlador.ControladorBajaVotantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificarVotante</servlet-name>
        <servlet-class>Controlador.ControladorModificarVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBuscarVotante</servlet-name>
        <servlet-class>Controlador.ControladorBuscarVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVotacion</servlet-name>
        <servlet-class>Controlador.ControladorVotacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSalir</servlet-name>
        <servlet-class>Controlador.ControladorSalir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorListarCenso</servlet-name>
        <url-pattern>/ControladorListarCenso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLogin</servlet-name>
        <url-pattern>/ControladorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dispacher</servlet-name>
        <url-pattern>/Dispacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAltaVotantes</servlet-name>
        <url-pattern>/ControladorAltaVotantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorElectos</servlet-name>
        <url-pattern>/ControladorElectos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEscrutinio</servlet-name>
        <url-pattern>/ControladorEscrutinio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorResultadoVotaciones</servlet-name>
        <url-pattern>/ControladorResultadoVotaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBajaVotantes</servlet-name>
        <url-pattern>/ControladorBajaVotantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificarVotante</servlet-name>
        <url-pattern>/ControladorModificarVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBuscarVotante</servlet-name>
        <url-pattern>/ControladorBuscarVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVotacion</servlet-name>
        <url-pattern>/ControladorVotacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSalir</servlet-name>
        <url-pattern>/ControladorSalir</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
